name: Run sytest
on:
  push:
    branches: ["develop", "release-*", "github-actions"]
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  sytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - homeserver-implementation: synapse
            sytest-tag: bionic

          - homeserver-implementation: synapse
            sytest-tag: bionic
            postgres: postgres

          - homeserver-implementation: synapse
            sytest-tag: bionic
            postgres: postgres
            synapse-workers: workers

          - homeserver-implementation: synapse
            sytest-tag: testing
            postgres: postgres

          - homeserver-implementation: synapse
            sytest-tag: testing
            postgres: postgres
            synapse-workers: workers

          - homeserver-implementation: dendrite
            postgres: postgres

          - homeserver-implementation: dendrite
            postgres: postgres
            denrite-full-http: full-http

          - homeserver-implementation: dendrite

          - homeserver-implementation: dendrite
            denrite-full-http: full-http

    container:
      # The colon is icky. Better way? Could just include the image explicitly?
      image: matrixdotorg/sytest-${{ matrix.homeserver-implementation }}${{ matrix.sytest-tag && ':' }}${{ matrix.sytest-tag }}
      volumes:
        # TODO PWD mounted as /sytest was originally mounted as readonly. Could pass -v directly?
        - ${{ github.workspace }}:/sytest
        - ${{ github.workspace }}/logs:/logs
      env:
        POSTGRES: ${{ matrix.postgres && 1 }}
        WORKERS: ${{ matrix.synapse-workers && 1 }}
        BLACKLIST: ${{ (matrix.synapse-workers && 'synapse-blacklist-with-workers') || 'synapse-blacklist' }}
        API: ${{ matrix.dendrite-full-http && 1 }}

    steps:
      - uses: actions/checkout@v2
      - name: Run sytest
        working-directory: /sytest
        run: bash -xe /bootstrap.sh ${{ matrix.homeserver-implementation }}
      - name: Summarise results.tap
        if: ${{ always() }}
        run:  /sytest/scripts/tap_to_gha.pl /logs/results.tap
      - name: TODO upload artifacts
        run: "false"
      - name: TODO annotate logs
        run: "false"
